.tab{
    width: 100%;
    list-style-type: none;

}
.tab:not(:last-child){
    border-right: 2px solid #ccc;

}

.button{
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 3rem;
    border: 0;
    border-radius: 2px;
}

.button:hover{
    background-color: #808080 ;
}
.selected{
    background-color: #808080 ;
}
